body {
  color: #0AF0FF;
  width: 500px;
  background-size: 200% 100em;
}
.clase1 {
  position: absolute;
}
#id1 {
  text-align: left;
}
div.clase2 {
  color: red;
}
span.clase3 :hover {
  color: #0AF06E;
}
li.clase4 :hover {
  text-decoration: none;
  color: yellow;
}
#id :hover {
  text-decoration: none;
}